In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
# a generic function which can do such encoding for a random dataframe of any size.
def encode_func(numbers):
    data = {'Numbers': numbers}
    maxcols = len(bin(max(data['Numbers']))[2:])
    bindata = np.array([ list(map(int, list(bin(i)[2:].rjust(maxcols, '0')))) for i in data['Numbers'] ])
    
    for i in range(maxcols):
        data[f'encode_bit_{i+1}'] = bindata[:,i]
    df = pd.DataFrame(data, columns=data.keys())
    
    return df
df = encode_func([1, 5, 6, 20])
df

,Numbers,encode_bit_1,encode_bit_2,encode_bit_3,encode_bit_4,encode_bit_5
0,1,0,0,0,0,1
1,5,0,0,1,0,1
2,6,0,0,1,1,0
3,20,1,0,1,0,0

In [91]:
#2. Debugging Code
#The following code tries to subset a dataframe to remove/drop certain columns from a given dataframe.
#Fix the errors and run the function such that, 
#on running subsetted_df = subset_dataframe(dataframe, drop_cols=["x", "z"]), the resulting dataframe has only the column Y

def subset_dataframe(dataframe,drop_cols):
    dataframe.drop(drop_cols, axis=1, inplace=True)
    subset_df=dataframe
    return subset_df

In [137]:
dataframe = pd.DataFrame({
    "x": range(10),
    "y": range(10,20),
    "z": range(5,15)
})
dataframe

   x   y   z
0  0  10   5
1  1  11   6
2  2  12   7
3  3  13   8
4  4  14   9
5  5  15  10
6  6  16  11
7  7  17  12
8  8  18  13
9  9  19  14

In [93]:
subsetted_df = subset_dataframe(dataframe, drop_cols=['x', 'z'])
subsetted_df#result

    y
0  10
1  11
2  12
3  13
4  14
5  15
6  16
7  17
8  18
9  19

In [29]:
#Fix the errors in the following function for training a SVM Classifier and returning the predicted probabilities 
#of class 1 on the test data.

def fit_svc_model(train_data, test_data):
    from sklearn.svm import SVC
    
    clf = SVC(probability=True)
    X_train = train_data.iloc[:,:-1].values
    Y_train = train_data.iloc[:,1].values
    clf.fit(X_train,Y_train)
    
    predicted_probabilities = clf.predict_proba(test_data)[0]
    
    return predicted_probabilities

In [30]:
np.random.seed(42)

In [31]:
train_data = pd.DataFrame({
    "id": range(0,100),
    "x": np.random.randint(0,1000, 100),
    "y": [1 if _>1000 else 0 for _ in np.random.randint(0, 1999, 100)]
})

In [32]:
test_data = pd.DataFrame({
    "id": range(500,600),
    "x": np.random.randint(300,2000, 100)
})

In [33]:
predicted_proba_svc = fit_svc_model(train_data, test_data)
predicted_proba_svc

C:\Users\Tushar\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

array([0.01044461, 0.01044458, 0.01279456, 0.01044453, 0.01044451,
       0.0104445 , 0.01044448, 0.01044446, 0.01044444, 0.01044443,
       0.01044442, 0.0104444 , 0.01044439, 0.01044438, 0.01044437,
       0.01279432, 0.01044435, 0.01044434, 0.01044434, 0.01044433,
       0.01044433, 0.01044433, 0.01044432, 0.01044432, 0.01044432,
       0.01044432, 0.01044432, 0.01044432, 0.01044432, 0.01044432,
       0.01044432, 0.01044432, 0.01044433, 0.01044433, 0.01044433,
       0.01044434, 0.01044434, 0.01044435, 0.01279102, 0.01044755,
       0.01044437, 0.01044437, 0.01044438, 0.01044439, 0.01044439,
       0.0104444 , 0.01044441, 0.01044441, 0.01044442, 0.01044443,
       0.01044443, 0.01044444, 0.01044444, 0.01044445, 0.01044446,
       0.01044446, 0.01044447, 0.01044447, 0.01044448, 0.01044448,
       0.01044448, 0.01044449, 0.01044449, 0.01044449, 0.01044449,
       0.0104445 , 0.0104445 , 0.0104445 , 0.0104445 , 0.0104445 ,
       0.0104445 , 0.0104445 , 0.0104445 , 0.0104445 , 0.01044449,
       0.01044449, 0.01044449, 0.01044449, 0.01044448, 0.01044448,
       0.01044448, 0.01044447, 0.01044447, 0.01044446, 0.01044446,
       0.01044445, 0.01279443, 0.01044445, 0.01044444, 0.01044444,
       0.01044444, 0.01279441, 0.0169186 , 0.01044443])

In [139]:
# a python function to subset rows of a dataframe based on certain conditions.

def subset_row(dataframe):
    subset_df=dataframe[dataframe['x']>5]
    return subset_df
subset_df=subset_row(dataframe)
subset_df

   x   y   z
6  6  16  11
7  7  17  12
8  8  18  13
9  9  19  14

In [15]:
#Given the list of tuples below(variable list), fix the function below to filter the unique elements from the variable

def filter_unique(lst): 
      
    return list(set([i for i in lst]))

In [17]:
import random
random.seed(44)        
# Driver code 
lst = [] 
for i in range(50):
    t = (random.randint(0,3), random.randint(0,3), random.randint(0,3))
    lst.append(t)

In [25]:
unique_element=filter_unique(lst)
unique_element

[(3, 0, 2),
 (1, 0, 3),
 (3, 0, 3),
 (1, 0, 0),
 (1, 0, 1),
 (3, 3, 1),
 (1, 3, 0),
 (2, 3, 0),
 (2, 3, 1),
 (3, 3, 3),
 (0, 2, 3),
 (2, 3, 3),
 (0, 2, 2),
 (3, 2, 3),
 (1, 2, 0),
 (3, 1, 2),
 (0, 0, 3),
 (1, 2, 1),
 (0, 3, 3),
 (3, 1, 1),
 (3, 2, 1),
 (0, 3, 0),
 (2, 0, 2),
 (0, 0, 1),
 (0, 0, 0),
 (2, 1, 2),
 (1, 1, 1),
 (2, 2, 3),
 (1, 1, 0),
 (2, 1, 0),
 (2, 2, 1),
 (2, 1, 1),
 (2, 2, 0),
 (3, 0, 1),
 (0, 1, 0),
 (1, 3, 3)]